.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.Title {
  padding: 3rem 0 6rem;
}

h1 {
  font-size: 2rem;
}

.button {
  font-size: 4rem;
}

.button small {
  font-size: 1.4rem;
}

.button:hover {
  opacity: 0.5;
}
