.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.Title {
  padding: 3rem 0 6rem;
  text-align: center;
}

h1 {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  color: purple;
}

.button {
  font-size: 4rem;
}

.button small {
  font-size: 1.4rem;
}

.button:hover {
  opacity: 0.5;
}

.results {
  color: black;
}
