.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Title {
  padding: 3rem 0;
  text-align: center;
}

h1 {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  color: purple;
}

#Rock,
#Paper,
#Scissor {
  font-size: 4rem;
}

.button:hover {
  opacity: 0.5;
}

.results {
  color: black;
  font-size: 2.4rem;
  margin: 1rem 0;
}

.computer-result {
  font-size: 4rem;
  text-align: center;
  margin: 0;
}

.vs {
  font-size: 4rem;
  font-weight: bold;
}

#Playground {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.you,
.computer {
  width: 360px;
  text-align: center;
}
